__pycache__/
.ipynb_checkpoints/
.venv/
venv/
.env
.DS_Store
*.pyc
models/*
!models/.gitkeep
reports/figures/*
!reports/figures/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
